<header>
  <label class="icon-menu" ><i style="font-size:3vh;" class="fas fa-bars"></i></label>
</header>
<div class="menu">
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/inventario?bodega=principal">Inventario Principal</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/inventario?bodega=auxiliar">Inventario Auxiliar</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/producto">Producccion</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/productoTer">Empaque</a></i></div>
</div>
