<header>
  <label class="icon-menu" ><i class="fas fa-bars"></i></label>
</header>
<div class="menu">
  <div class="line"><i class="sub-icon fas fa-user-circle"><a href="/user/profile">Perfil</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/inventario?bodega=principal">Inventario Principal</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/inventario?bodega=auxiliar">Inventario Auxiliar</a></i></div>
  <div class="line"><i class="sub-icon fas fa-boxes"><a href="/app/producto">Producccion</a></i></div>
  <div class="line"><i class="sub-icon fas fa-sign-out-alt"><a href="/user/logout">Logout</a></i></div>
</div>
