<% include ../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 mx-auto">

    	<h1><i class="fas fa-sign-in-alt"></i>Nuevo Producto</h1>

    	<% if(messages.length > 0) { %>
    		<div class="alert alert-danger">
    			<% messages.forEach(function(message) { %>
    				<p><%= message %></p>
    			<% }); %>
    		</div>
    	<% } %>

    	<!-- MATERIEPRIME FORM -->
    	<form action="/app/productoTer" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Producto</label>
          <input type="text" class="form-control" name="nombre">
        </div>
    		<button type="submit" class="btn btn-success btn-lg">Guardar</button>
    	</form>

    	<hr>
    </div>
  </div>
  </div>
</div>
