<% include ./partials/link.ejs %>
<div class="container-fluid" style ='margin-top:100px' >
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Bienvenido</h1>
		<p>Identifiquese o cree una cuenta</p>
		<a href="/user/login" class=" into btn btn-info"><i class="fas fa-user"></i> Local Login</a>
		<a href="/user/signup" class="into btn btn-info"><span class="fas fa-user"></span> Signup</a>
	</div>
</div>
