/*main*/
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.todo{
	z-index:90;
	filter: alpha(opacity=80);
	opacity: .8;
}
header{
    width: 100%;
    height: 60px;
   	background-color: #1690d1;
}
.icon-menu{
    font-size: 30px;
    color: white;
    position: relative;
    left: 15px;
    top: 5px;
    border:1px solid transparent;
    transition: all 300ms;
    padding:0px 4px;
    cursor:pointer;
}
.icon-menu:hover{
    border:1px solid white;
}
/*menu*/
.menu{
    width: 80%;
    height: 100vh;
    background-color:#363636;
    margin-left: -80%;
    position:fixed;
    overflow: hidden;
		z-index: 100;
}
.menu-show{
    margin-left:0%;
    transition:all 500ms;
		filter: alpha(opacity=80);
		opacity: .8;
}
.line:hover{
    background-color:#1690d1;
    cursor: pointer;

}
.line{
    margin-top:40px;
    padding: 20px;
}
.line i {
    color: white;
    font-size: 30px;
}
.line a{
	  color: white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 100;
}

.right-space{
	margin-right:0.5em;
}

/*para los botenes submit con esta clase*/
form.link{
	display: inline-block;
}
form.link input[type="submit"]{
	background-color: transparent;
	border:none;
	color:rgb(200,50,50);
}

/*custom buttons*/
/*button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  width:100%;
}*/

button:active {

  outline:none;
}

button.ribbon {

  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}

button.btn-default:before {
  border-color: #757575 #757575 #757575 transparent;
    }
    button.btn-default:after {
  border-color: #757575 transparent #757575 #757575;
    }



    button.btn-primary:before {
  border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
    }
    button.btn-primary:after {
  border-color: #2e6da4 transparent #2e6da4 #2e6da4;
    }


    button.btn-success:before {
  border-color: #398439 #398439 #398439 transparent;
    }
    button.btn-success:after {
  border-color: #398439 transparent #398439 #398439;
    }


    button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
    }
    button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
    }


    button.btn-warning:before {
  border-color: #d58512 #d58512 #d58512 transparent;
    }
    button.btn-warning:after {
  border-color: #d58512 transparent #d58512 #d58512;
    }


    button.btn-danger:before {
  border-color: #ac2925 #ac2925 #ac2925 transparent;
    }
    button.btn-danger:after {
  border-color: #ac2925 transparent #ac2925 #ac2925;
    }

    /*login*/
    .progress-bar {
        color: #333;
    }

    /*
    Reference:
    http://www.bootstrapzen.com/item/135/simple-login-form-logo/
    */

    * {
        -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      outline: none;
    }

        .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
      }

    .fondo {
      background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .login-form {
      margin-top: 60px;
    }

    form[role=login] {
      color: #5d5d5d;
      background: #f2f2f2;
      padding: 26px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
    }
      form[role=login] img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
      }
      form[role=login] input,
      form[role=login] button {
        font-size: 18px;
        margin: 16px 0;
      }
      form[role=login] > div {
        text-align: center;
      }

    .form-links {
      text-align: center;
      margin-top: 1em;
      margin-bottom: 50px;
    }
      .form-links a {
        color: #fff;
      }
    .logo{
      width:80%;
      height:30vh;
      border-radius: 10px;
    }

@media (max-width: 575.98px) {
	body{
		background-color:#eee;
	}
	.into{
		display:block;
		margin-top:10px;
	}
}
