<% include ../../partials/layout.ejs %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">

  	<h1 class="text-center"><%= service.title %></h1>
    <img src="<%= service.imageUrl %>" alt="aun no carga" class="img-responsive">
    <p><%= service.description %></p>
    <p><%= service.price %></p>

  </div>
</div>
</div>
