<% include ../../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 mx-auto">

    	<h1><i class="fas fa-sign-in-alt"></i>Nuevo Recurso</h1>

    	<% if(messages.length > 0) { %>
    		<div class="alert alert-danger">
    			<% messages.forEach(function(message) { %>
    				<p><%= message %></p>
    			<% }); %>
    		</div>
    	<% } %>

    	<!-- IN FORM -->
    	<form action="/app/inOut" method="post">
        <div class="form-group">
          <label>Numero de factura:</label>
          <input type="number" placeholder="Numero de factura" class="form-control" name="numFact">
        </div>
        <div class="form-group">
          <label>Producto:</label>
          <select name="inv" required>
            <option value="" class="form-control">Seleccionar
            <% inventarios.forEach(function(inventario){ %>
              <option value="<%= inventario._id %>" class="form-control"><%= inventario.mp %>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label>Marca</label>
          <input type="text" placeholder="Nombre de la marca" class="form-control" name="marca">
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input type="number" placeholder="Cantidad a ingresar" class="form-control" name="cantidad">
        </div>
        <div class="form-group">
          <label>Presentacion</label>
          <input type="number" placeholder="Cantidad en gramos"  class="form-control" name="presentacion">
        </div>
        <div class="form-group">
          <label>Valor Unitario</label>
          <input type="number" placeholder="Precio Unitario" class="form-control" name="valorUni">
        </div>
        <input type="hidden" name="tipo" value="entrada">
        <input type="hidden" name="bodega" value="principal">
        <button type="submit" class="btn btn-success btn-lg">Guardar </button>
    	</form>

    	<hr>
    </div>
  </div>
</div>
