<% include ../../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 mx-auto">

    	<h1><i class="fas fa-sign-in-alt"></i>Nuevo Recurso</h1>

    	<% if(messages.length > 0) { %>
    		<div class="alert alert-danger">
    			<% messages.forEach(function(message) { %>
    				<p><%= message %></p>
    			<% }); %>
    		</div>
    	<% } %>

    	<!-- IN FORM -->
    	<form action="/app/inOut" method="post" class="agg">
        <div class="form-group">
          <label>Producto</label>
          <select name="inv">
            <% productos.forEach(function(producto){ %>
              <option value="<%= producto._id %>" class="form-control"><%= producto.nombre %>
            <% }); %>
          </select>
        </div>
        <br>
        <li class="btn btn-primary btn-lg formu"><i class="fas fa-plus"></i> Agregar ingrediente</li>
        <br>
        <br>
        <button type="submit" class="btn btn-success btn-lg">Guardar </button>
    	</form>

    	<hr>
    </div>
  </div>
</div>
<script>
$('.formu').on('click',function(){
  //alert("hola");
  $('.agg').append($('<li>').text("vamos bien"));
  //$('#messages').append($('<li>').text(msg));
  window.scrollTo(0, document.body.scrollHeight);

})
</script>
