<% include ../../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 mx-auto">

    	<h1><i class="fas fa-sign-in-alt"></i>Nuevo Recurso</h1>

    	<% if(messages.length > 0) { %>
    		<div class="alert alert-danger">
    			<% messages.forEach(function(message) { %>
    				<p><%= message %></p>
    			<% }); %>
    		</div>
    	<% } %>

    	<!-- LOGIN FORM -->
    	<form action="/app/inOut" method="post">
        <div class="form-group">
          <label>Producto</label>
          <select name="inv">
            <% inventarios.forEach(function(inventario){ %>
              <option value="<%= inventario._id %>" class="form-control"><%= inventario.mp %>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input type="number" class="form-control" name="cantidad">
        </div>
        <div class="form-group">
          <label>Presentacion</label>
          <input type="number" class="form-control" name="presentacion">
        </div>
        <input type="hidden" name="marca" value="0">
        <input type="hidden" name="valorUni" value="0">
        <input type="hidden" name="numFact" value="0">
        <input type="hidden" name="tipo" value="salida">
        <input type="hidden" name="bodega" value="inventarioprincipal">
        <button type="submit" class="btn btn-success btn-lg">Guardar </button>
    	</form>

    	<hr>
    </div>
  </div>
</div>
